.App {
  width: 100vw;
  height: 100vh;
  min-width: 60vw;
  display: flex;

  .side-menu-div {
    width: 300px;
    height: 100%;
    min-width: 300px;
    background-color: #e0e0e0;

    .function-div {
      width: 100%;
      height: calc(250px - 15px);
      padding-top: 15px;
      text-align: center;

      .function-button {
        width: 90px;
        height: 75px;
        margin-top: 15px;
        margin-right: 15px;
        cursor: pointer;
      }
    }

    .prompt-history-div {
      width: 100%;
      height: auto;
      text-align: left;

      .prompt-history-div-contour-line {
        width: 90%;
        height: 20px;
        margin-left: 5%;
        border-top: 1px solid black;
      }
      
      .prompt-history {
        width: 80%;
        height: 25px;
        margin-top: 25px;
        margin-left: 5%;
        border-bottom: 1px solid #999;

        .prompt {
          width: auto;
          height: auto;
          font-size: 15px;
          cursor: pointer;
        }

        .prompt-delete-button {
          position: relative;
          width: 30px;
          height: 30px;
          top: -40px;
          left: 100%;
          cursor: pointer;
        }
      }
    }
  }

  .main-div {
    width: calc(100% - 300px - 20px - 20px);
    height: calc(100% - 20xp);
    min-width: 60vw;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;

    .api-key-div {
      width: 620px;
      height: 50px;
      display: flex;
      align-items: center;
      margin-left: auto;

      .api-key-div-label {
        width: 100px;
        height: auto;
        text-align: center;
        font-size: 25px;
      }

      .api-key-input {
        width: calc(450px - 5px);
        height: 40px;
        border: 0;
        border-bottom: 1px solid black;
        padding-left: 5px;
        outline: none;
        font-size: 20px;
      }
    }

    .generate-image {
      width: 100%;
      height: 700px;
    }

    .generate-history-div {
      width: 100%;
      height: 200px;
      margin-top: 50px;
      display: flex;

      .generate-history-image-div {
        width: 200px;
        height: 200px;
        margin-right: 10px;

        .generate-history-image {
          width: 200px;
          height: 200px;
          cursor: pointer;
        }

        .generate-history-delete-button {
          width: 50px;
          height: 50px;
          position: relative;
          top: -200px;
          left: 145px;
          cursor: pointer;
        }
      }
    }

    .generate-form {
      width: 100%;
      height: auto;
      min-width: 1200px;
      display: flex;;
      margin-top: 15px;

      .generate-prompt {
        width: calc(100% - 20px);
        height: auto;
        padding: 10px;
        font-size: 25px;
        outline: none;
        resize: none;
      }

      .generate-option-div {
        width: 300px;
        height: auto;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;

        .generate-sid-div {
          width: 100%;
          height: 50px;
          text-align: left;

          .generate-sid-label {
            width: auto;
            height: auto;
            font-size: 20px;
          }
          
          .generate-sid-input {
            width: 100%;
            height: auto;
          }
        }

        .generate-setting-div {
          width: 100%;
          height: auto;
          display: flex;

          .generate-format-div {
            width: 49%;
            height: auto;
            text-align: left;
            margin-right: 2%;

            .generate-format-label {
              width: 100%;
              height: auto;
              font-size: 20px;
            }

            .generate-format {
              width: 100%;
              height: 35px;
              font-size: 20px;
            }
          }

          .generate-aspect-div {
            width: 49%;
            height: auto;
            text-align: left;

            .generate-aspect-label {
              width: 100%;
              height: auto;
              font-size: 20px;
            }

            .generate-aspect {
              width: 100%;
              height: 35px;
              font-size: 20px;
            }
          }
        }
      }

      .generate-submit-button {
        width: 300px;
        height: auto;
        cursor: pointer;
      }
    }
  }
}
